/node_modules
/.env.local
/.winrc.local.ts
/config/config.local.ts
/src/.win
/src/.win-production
/src/.win-test
/src/.huipro
/.win
/.win-production
/.win-test
/.huipro
/dist
/dist-zip
/.mfsu
.swc
components.d.ts
auto-imports.d.ts
f2elint-report.json

.DS_Store
# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache
.eslintrc-auto-import.json

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

.project
.happypack
.history

/package
/docker/html

.npmrc
