{
  "*.{md,json}": [
    "prettier --cache --write"
  ],
  "*.{vue,js,jsx,css,less,scss}": [
    "win lint --fix",
    "prettier --cache --write"
  ],
  "*.ts?(x)": [
    "win lint --fix",
    "prettier --cache --parser=typescript --write"
  ]
}
